In [20]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
df_raw = pd.read_csv(r"C:\Users\joeyp\OneDrive\Desktop\dsi\Team-14\data\combined\ttc-subway-delay-data.csv")

In [4]:
df = df_raw.copy()

In [5]:
df.dtypes

Date          object
Time          object
Day           object
Station       object
Code          object
Min Delay    float64
Min Gap      float64
Bound         object
Line          object
Vehicle      float64
dtype: object

In [6]:
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Time'])

C:\Users\joeyp\AppData\Local\Temp\ipykernel_13580\2029396998.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'])

In [7]:
df.dtypes

Date         datetime64[ns]
Time         datetime64[ns]
Day                  object
Station              object
Code                 object
Min Delay           float64
Min Gap             float64
Bound                object
Line                 object
Vehicle             float64
dtype: object

In [8]:
df['Hour'] = df['Time'].dt.hour

In [9]:
df['Minute'] = df['Time'].dt.minute

In [10]:
df['Month'] = df['Date'].dt.month

In [11]:
categorical_columns = ['Day', 'Station', 'Code', 'Bound', 'Line']

In [12]:
#Encode variables

df = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

In [13]:
df.columns

Index(['Date', 'Time', 'Min Delay', 'Min Gap', 'Vehicle', 'Hour', 'Minute',
       'Month', 'Day_Monday', 'Day_Saturday',
       ...
       'Line_YU/BD', 'Line_YU/BD LINE', 'Line_YU/BD LINES', 'Line_YU/BD/SHP',
       'Line_YU/SHEP', 'Line_YUS', 'Line_YUS & BD', 'Line_YUS AND BD',
       'Line_YUS/BD', 'Line_YU\BD'],
      dtype='object', length=1641)

In [14]:
df['Vehicle'].nunique()

1457

In [15]:
le = LabelEncoder()
df['Vehicle'] = le.fit_transform(df['Vehicle'])

In [16]:
df.head()

,Date,Time,Min Delay,Min Gap,Vehicle,Hour,Minute,Month,Day_Monday,Day_Saturday,...,Line_YU/BD,Line_YU/BD LINE,Line_YU/BD LINES,Line_YU/BD/SHP,Line_YU/SHEP,Line_YUS,Line_YUS & BD,Line_YUS AND BD,Line_YUS/BD,Line_YU\BD
0,2014-01-01,2025-03-16 00:21:00,55.0,60.0,380,0,21,1,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2014-01-01,2025-03-16 02:06:00,3.0,7.0,270,2,6,1,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2014-01-01,2025-03-16 02:40:00,0.0,0.0,0,2,40,1,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2014-01-01,2025-03-16 03:10:00,3.0,8.0,385,3,10,1,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2014-01-01,2025-03-16 03:20:00,5.0,10.0,652,3,20,1,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'
    
df['Season'] = df['Month'].apply(get_season)

In [21]:
#Split the data 

X = df.drop(columns=['Min Delay'])
y = df['Min Delay']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#df.to_csv("data_with_features.csv", index=False)